.active {
  background-color: #1d2939 !important;
  color: white !important;
  border-radius: 15px;
}

.MuiSvgIcon-root {
  color: inherit !important;
}
.MuiListItemIcon-root {
  color: inherit !important;
}
